.iframe-widget{
  background-color: #fff;
  &__inner{
    position: relative;
    overflow: hidden;
    height: 980px;
    max-width: 980px;
    width: 100%;
    margin: auto;
    background-color: #295629;
    @media (max-width: 767px){
      height: 500px;
      max-width: 500px;
    }
    @media (max-width: 575px){
      height: 400px;
      max-width: 100%;
    }
  }
  &__title{
    position: relative;
    z-index: 3;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.075em;
    background-color: #191919;
    @media (max-width: 575px){
      font-size: 14px;
    }
    span{
      padding-left: 15px;
      color: #EB4622;
    }
  }
}

.iframe-overlay{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.0);
  transition: all 0.3s;
  &.active{
    background-color: rgba(0,0,0,0.25);
    .iframe-overlay__txt{
      top: 50px;
      opacity: 1;
    }
  }
  &__txt{
    position: absolute;
    left: 10px;
    top: 50%;
    max-width: 300px;
    line-height: 26px;
    font-size: 18px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
    @media (max-width: 575px){
      max-width: 245px;
      line-height: 16px;
      font-size: 12px;
    }
  }
}

.iframe-nav{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 45px;
  background-color: #191919;
  transition: all 1s;
  &.active{
    height: 300px;
    background-color: transparent;
    @media (max-width: 575px){
      height: 225px;
    }
    .iframe-nav__title-play{
      opacity: 1;
    }
    .iframe-nav__title{
      p{
        opacity: 0;
      }
      svg{
        transform: rotate(210deg);
      }
    }

    .iframe-nav-menu-1 {
      top: 45px;
      @media (max-width: 575px){
        top: 45px;
      }
    }
    .iframe-nav-menu-2 {
      top: 130px;
      @media (max-width: 575px){
        top: 105px;
      }
    }
    .iframe-nav-menu-3 {
      top: 215px;
      @media (max-width: 575px){
        top: 165px;
      }
    }
  }
  &__title{
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    p{
      font-size: 20px;
      color: #fff;
      line-height: 45px;
      letter-spacing: 0.04em;
      @media (max-width: 575px){
        font-size: 16px;
      }
    }
    svg{
      position: absolute;
      right: 10px;
      top: 8px;
      width: 30px;
      height: 30px;
      transition: all 0.3s;
    }
  }
  &__title-play{
    position: absolute;
    right: 55px;
    top: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
  }
}

.iframe-nav-menu{
  transition: all 1s;
  &__title{
    position: relative;
    width: 20%;
    display: block;
    font-family: 'DINPro', sans-serif;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 0 10px 0 0;
    @media (max-width: 767px){
      width: 50%;
    }
    @media (max-width: 575px){
      padding: 3px 5px;
      font-size: 10px;
    }
    &:before{
      height: 25px;
      width: 30px;
      border-radius: 10px 10px 0 0;
      background-color: white;
      content: "";
      position: absolute;
      right: -10px;
      top: 0;
      -webkit-transform: skewX(40deg);
      transform: skewX(40deg);
      z-index: -1;
    }
  }

  &__list{
    padding: 15px 10px;
    height: 90px;
    @media (max-width: 575px){
      padding: 10px 5px;
    }
  }
  &__item{
    display: inline-block;
    & + & {
      margin-left: 5px;
    }
  }
  &__btn{
    position: relative;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s;
    @media (max-width: 575px){
      height: 25px;
      font-size: 12px;
    }
    &:hover{
      background-color: #fff;
    }
  }
}

.iframe-nav-menu-1{
  position: absolute;
  left: 0;
  right: 0;
  top: 235px;
  bottom: 0;
  z-index: 1;
  .iframe-nav-menu__title{
    background-color: #EB4622;
    &:before{
      background-color: #EB4622;
    }
  }
  .iframe-nav-menu__list{
    height: 150px;
    background-color: #EB4622;
  }
  .iframe-nav-menu__btn:hover, .iframe-nav-menu__btn.active{
    color: #EB4622;
    background-color: #fff;
  }
}

.iframe-nav-menu-2{
  position: absolute;
  left: 0;
  right: 0;
  top: 260px;
  bottom: 0;
  z-index: 2;
  .iframe-nav-menu__title{
    background-color: #B0351A;
    &:before{
      background-color: #B0351A;
    }
  }
  .iframe-nav-menu__list{
    background-color: #B0351A;
  }
  .iframe-nav-menu__btn:hover, .iframe-nav-menu__btn.active{
    color: #B0351A;
    background-color: #fff;
  }
}

.iframe-nav-menu-3{
  position: absolute;
  left: 0;
  right: 0;
  top: 285px;
  bottom: 0;
  z-index: 3;
  .iframe-nav-menu__title{
    background-color: #762311;
    &:before{
      background-color: #762311;
    }
  }
  .iframe-nav-menu__list{
    background-color: #762311;
  }
  .iframe-nav-menu__btn:hover, .iframe-nav-menu__btn.active{
    color: #762311;
    background-color: #fff;
  }
}

.iframe-ball{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #EB4622;
  @media (max-width: 575px){
    width: 15px;
    height: 15px;
  }
}

.iframe-tooltip{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  opacity: 0;
  transition: all 0.35s;
  &.active{
      opacity: 1;
      transform: translate(-50%,-50%) scale(1);
  }
  &__tooltip{
    position: absolute;
    left: calc(50% - 155px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 240px;
    //height: 60px;
    padding: 3px 10px;
    background-color: #EB4622;
    color: #fff;
    font-size: 45px;
    text-align: left;
    text-transform: uppercase;
    line-height: 50px;
    font-family: 'DINPro',sans-serif;
    transition: all 0.35s;
    @media (max-width: 575px){
      left: calc(50% - 85px);
      top: 50%;
      width: 100px;
      padding: 0 5px;
      font-size: 18px;
      line-height: 30px;
    }
  }
  &__title{
    position: absolute;
    top: -50px;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: 'DINPro',sans-serif;
    font-weight: bold;
    font-size: 24px;
    @media (max-width: 575px){
      top: -35px;
      font-size: 18px;
    }
  }
  &__txt{
    position: absolute;
    left: 0;
    width: 330px;
    letter-spacing: 0.1em;
    bottom: -75px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 24px;
    @media (max-width: 575px){
      position: absolute;
      left: 0;
      width: 275px;
      letter-spacing: 0.05em;
      color: #fff;
      text-transform: capitalize;
      bottom: -50px;
      font-size: 11px;
      line-height: 14px;
    }
  }
}

#iframe-loader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 575px){
    width: 50%;
    height: 50%;
  }
}

.iframe-tooltip-blue{
  position: absolute;
  left: calc(50% - 185px);
  top: calc(50% + 115px);
  transform: translate(-50%,-50%);
  width: 175px;
  //height: 60px;
  padding: 3px 10px;
  background-color: #0000FF;
  color: #fff;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  line-height: 50px;
  font-family: 'DINPro',sans-serif;
  transition: all 0.35s;
  @media (max-width: 575px){
    left: calc(50% - 85px);
    top: 50%;
    width: 100px;
    padding: 0 5px;
    font-size: 18px;
    line-height: 30px;
  }
  &__title{
    position: absolute;
    left: 0;
    top: -50px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'DINPro',sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
}